html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	margin:0;
	padding: 0;
	background-color: white;
}

		/* menu */

header{
	width: 100%;
	height: 4.2rem;
	border: 2px solid black;
	font-size: 20px;
	position: fixed;
	z-index:100;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
}

nav{
	margin:0px;
	padding: 0px;
	overflow: hidden;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

#menu{
	margin:0px;
	padding: 0px;
	overflow: hidden;
	display: block;
}

#menu li{

	list-style: none;
	display: inline-block;

}

#menu li a{

	text-decoration: none;
	padding: 5px;
	display: block;
}

/* mouse over menu */
#menu li a:hover {
  background-color: grey;
  
}

#connexionButton{
	float: right;
	margin-right: 10px;
}

		/* end menu */

section{
	border: 2px solid grey;
	margin: 20px;
	padding: 10px;
	background-color: rgb(250,250,250);
}

#homeSection{


}

video{
	margin-top: 40%;
}

video#videoHome {
	border: 0;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	width: 100%;
}

#ptolemeeSection{

}

#infiniteMeasureSection{

}

.textInfo{
	font-size: 15px;

}

.footer {
	border: 1px solid black;
	bottom:0;
	left:0;
	position:absolute;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}

/* mouse over footer */
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* mouse over footer button*/
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}

/*content displayed after mouse over button*/
.footer #container{
	margin-top:5px;
	width:100%;
	height:100%;
	position:relative;
  	top:0;
  	left:0;
	background: lightgrey;
}

