html{
	height : 100%;
	margin: 0;
	padding: 0;
}

body{
	margin:0;
	padding: 0;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	background-image: url("https://www.numerama.com/content/uploads/2020/05/falcon-9-space-x.jpg");
	background-size: cover;
	min-height: 100%;
}

		/* menu */

header{
	width: 100%;
	height: 4.2rem;
	border: 2px solid black;
	font-size: 20px;
	position: fixed;
	z-index:100;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
}

nav{
	width: 100%;
	margin:0px;
	padding: 0px;
	overflow: hidden;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

#menu{
	margin:0px;
	padding: 0px;
	overflow: hidden;
	display: block;
}

#menu li{

	list-style: none;
	display: inline-block;

}

#menu li a{

	text-decoration: none;
	padding: 5px;
	display: block;
	font-family: 'Poppins', sans-serif;
}

/* mouse over menu */
#menu li a:hover {
  background-color: grey;
  
}

#connexionButton{
	float: right;
	margin-right: 10px;
}

		/* end menu */

section{
	position: absolute;
  	top: 50%; left: 50%; 
  	transform: translate(-50%, -50%);
	border: 2px solid grey;
	border-radius: 15px;
	padding: 10px;
	background-color: rgba(250,250,250, 0.5);
}

form
{
	padding: 20px;
	text-align: center;
	font-size: 25px;
}

label
{
	margin-top: 15px;
	font-size: 25px;
	margin: 15px;
}

input[type="text"], input[type="password"]
{
	max-width: 100%;
	font-size: 25px;
	border: 1px solid grey;
	border-radius: 15px;
	margin: 15px;
	padding: 5px;
	padding-left: 15px; 
	padding-right: 15px;
	font-family: 'Poppins', sans-serif;
	
}

input[type="submit"]
{
	max-width: 100%;
	font-size: 20px;
	margin-left: 0px;
	background-color: rgba(250,250,250, 0.5);
	border: 1px solid grey;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	padding: 12px;
	padding-left: 45px; 
	padding-right: 45px;
	color:  #6d6d6d;
}

input[type="submit"]:hover
{
	background-color: #59e07d;
	color: white;
}

input[type="reset"]
{
	max-width: 100%;
	font-size: 20px;
	margin-right: 0px;
	background-color: rgba(250,250,250, 0.5);
	border: 1px solid grey;
	border-radius: 10px;
	font-family: 'Poppins', sans-serif;
	padding: 12px;
	padding-left: 45px; 
	padding-right: 45px;
	color:  #6d6d6d;
}

input[type="reset"]:hover
{
	background-color: #e27463;
	color: white;
}

.accountCreation
{
	font-size: 15px;
}

.footer {
	border: 1px solid black;
	bottom:0;
	left:0;
	position:absolute;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}

/* mouse over footer */
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/* mouse over footer button*/
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}

/*content displayed after mouse over button*/
.footer #container{
	margin-top:5px;
	width:100%;
	height:100%;
	position:relative;
  	top:0;
  	left:0;
	background: lightgrey;
}

